h1{
    text-align:center;
    font-weight:bold;
    font-family:DFKai-sb;
    letter-spacing:8px;
}

.introduce{
    position:relative;
    width:70%;
    overflow:auto;
    margin:50px auto;
    padding-left: 20%;
}

.poetry{
    font-family:DFKai-sb;
    font-weight:bold;
    text-align: center;
    font-size: 35px;
}

.about{
    text-align: center;
    font-size: 30px;
}

.introduce>.left{
    float:left;
}

p{
    font-family:SingkaibeiEG-Bold-GB GSKB00B 29009;
}

.home{
    letter-spacing:15px;
}